*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/easypermissions/build
app/app-release.apk
app/release/output.json
/bugreport.txt
