*.iml
*.gradle
/local.properties
/.idea/workspace.xml
/.idea/gradle.xml
/.idea/libraries
/.idea/
.DS_Store
/captures
/.externalNativeBuild
/bugreport.txt
/.gradle

#生成的apk

#编译的字节文件
*.class

#编译临时文件
/build

#备份文件信息
/projectFilesBackup
