*.iml
.gradle
/local.properties
/.idea
/.idea/
.DS_Store
/gradle
#编译临时文件
/build
/captures
/.externalNativeBuild
/bugreport.txt
/.idea/*.*
/.idea/*.xml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/gradle.xml
/.idea/runConfigurations.xml



#生成的apk

#编译的字节文件
*.class


#备份文件信息
/projectFilesBackup
