<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zy.ppmusic">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />-->
    <!--<uses-permission android:name="android.permission.BLUETOOTH" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!--<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />-->
    <queries>
        <package android:name="com.zy.ppmusic" />
    </queries>

    <application
        android:name="com.zy.ppmusic.App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_music_normal"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_music_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true"
        tools:ignore="GoogleAppIndexingWarning"
        android:dataExtractionRules="@xml/data_extraction_rules">

        <activity
            android:name="com.zy.ppmusic.mvp.view.BlScanActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar.Translate" />

        <service
            android:name=".service.MediaService"
            android:exported="false">

            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>

        </service>

        <service
            android:name=".service.LoopService"
            android:exported="false" />

        <receiver
            android:name="androidx.media.session.MediaButtonReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".mvp.view.MediaActivity"
            android:exported="true"
            android:theme="@style/AppTheme.SplashTheme"
            android:launchMode="singleTask">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".mvp.view.ErrorActivity"
            android:exported="false" />

        <meta-data
            android:name="android.max_aspect"
            android:value="2.8" />

    </application>

</manifest>
